/phpunit.xml
/vendor
composer.lock
.phpunit.result.cache
/.vscode
/test.php
/database/database.sqlite
/.env
/build
/cache
/.phpunit.cache
/.env.testing
# Laravel Workbench / Orchestra Testbench
/workbench/storage/
/workbench/vendor/
/workbench/bootstrap/cache/
/workbench/.env
workbench/database/database.sqlite
/workbench/node_modules
/workbench/public/build/
